@import "elements";
@import "mixins";
@import "normalize";
@import "html5";
@import "main";
@import "responsive";
@import "print";

@stiefelColor: #333;

html, body {
	height: 100%;
}
body {
	color: @stiefelColor;
}
#wrap {
	overflow: visible;
	border-width: 0;
}

